<!-- https://github.com/H2D2-Design/h2d2-shopicons/tree/master/PNG/Light -->
<!-- Header Section -->
<header>
    <a href="{% url 'users:home' %}"><img src="../../static/images/ji_logo@2x.png" alt="logo" class="logo"></a>
    <nav>
        <a href="#" class="navbar-item">About Us</a>
        <a href="#" class="navbar-item">Shop</a>
        <a href="#" class="navbar-item">Collection</a>
        <a href="#" class="navbar-item">Board</a>
    </nav>
    <div class="navbar-icons">
        <a href="#"><img src="../../static/images/account.png" alt="account"><span>Account</span></a>
        <a href="#"><img src="../../static/images/cart.png" alt="cart"><span>Cart</span></a>
    </div>
    <div class="hamburger-menu">
        <div class="hamburger-menuBtn"></div>
    </div>
</header>