<!-- https://github.com/H2D2-Design/h2d2-shopicons/tree/master/PNG/Light -->
<!-- Header Section -->
<header>
    <nav>
        <a href="{% url 'users:home' %}"><img src="../../static/images/ji_logo@2x.png" alt="logo" class="logo"></a>
        <ul class="nav__links">
            <div href="#" class="hamburger-menu">
                <button><i class="fas fa-bars"></i></button>
            </div>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="#">Collection</a></li>
            <li><a href="#">Board</a></li>
            <div class="nav__icons">
                <a href="#"><img src="../../static/images/account.png" alt="account"><span>Account</span></a>
                <a href="#"><img src="../../static/images/cart.png" alt="cart"><span>Cart</span></a>
            </div>
        </ul>
    </nav>
    
</header>