<!-- https://github.com/H2D2-Design/h2d2-shopicons/tree/master/PNG/Light -->
<!-- Header Section -->
<header>
    <nav id="navbar">
        <ul class="nav__links">
            <li><a href="{% url 'users:about' %}">About</a></li>
            <li><a href="#">Shops</a></li>
            <li><a href="#">Catalog</a></li>
            <li><a href="#">Board</a></li>
        </ul>
        <a href="{% url 'users:home' %}"><img src="../../static/images/logo@2x.png" alt="" class="logo"></a>
        <ul class="nav__links">
            <li><a href="#"><img src="../../static/images/account.png" alt="account" class="menu-icon"></a></li>
            <li><a href="#"><img src="../../static/images/cart.png" alt="cart" class="menu-icon"></a></li>
        </ul>
    </nav>
</header>