@import "base";

#home {
    max-width: 1600px;
    display: flex;
    z-index: -10;

    .bg-left,
    .bg-right {
        width: 50%;
        height: 100vh;
    }

    .bg-right {
        background-image: url('../images/bg-right@2x.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
}